body {
    padding-top: 5rem;
}

.main {
    padding: 3rem 1.5rem;
}

footer {
    background-color: #212322;
}

.show-box img {
    cursor: pointer;
}

.show-box .caption {
    padding-top: 0px;
}

.show-box .caption ul {
    margin-bottom: 0px;
}

.show-box-icons {
    font-size: 30px;
    text-align: center;
}

.show-box-ico {
    cursor: pointer;
}