html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    position: relative;
    display: table;
    width: 100%;
}

.maincont {
    margin-bottom: 10px;
}

.main {
    padding: 3rem 1.5rem;
}

footer {
    display: table-row;
    background-color: #212322;
    height: 90px;
}

#tail {
    position: absolute;
    text-align: center;
    bottom: 0px;
}

.show-box img {
    cursor: pointer;
}

.show-box .caption {
    padding-top: 0px;
}

.show-box .caption ul {
    margin-bottom: 0px;
}

.show-box-icons {
    font-size: 30px;
    text-align: center;
}

.show-box-ico {
    cursor: pointer;
}