{{define "dashboard"}} {{ template "header" . }}
<!-- main -->
<div class="container ">
    <div id="main" class="main">
        <alert-box></alert-box>
        <h1>Shows</h1>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail show-box">
                    <img src="/static/img/default-show.png" alt="...">
                    <div class="caption">
                        <h3> Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail show-box">
                    <div class="text-center"><span class="glyphicon glyphicon glyphicon-plus-sign" style="font-size:150px;" aria-hidden="true"></span></div>
                    <div class="caption text-center">
                        <h3> Add show</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="urlfeed" placeholder="http://www.spreaker.com/show/2176814/episodes/feed" v-model="feedURL">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" @click="importShow">Import</button>
                        </div>
                        <p>Import a new show by feeling form with the feed URL of the show </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main -->
{{ template "footer" .}} {{end}}