{{define "dashboard"}} {{ template "header" . }}
<!-- main -->
<div class="container ">
    <div id="main" class="main">
        <modal-wait></modal-wait>
        <alert-box></alert-box>
        <h1>Shows</h1>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail show-box" style="cursor: default;">
                    <div class="text-center"><span class="glyphicon glyphicon glyphicon-plus-sign" style="font-size:149px;" aria-hidden="true"></span></div>
                    <div class="caption text-center">
                        <h3> Add show</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="urlfeed" placeholder="RSS Feed URL" v-model="feedURL">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" @click="importShow">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  shows -->
            <show-thumbail v-for="show in shows" :key="show.UUID" :show=show :id="show.UUID"></show-thumbail>
        </div>
    </div>
</div>
<!-- main -->
{{ template "footer" .}} {{end}}