{{define "home"}} {{ template "header" . }}
<!-- main -->
<div class="container ">
    <br>
    <br>
    <br>
    <br>
    <div class="main text-center">
        <form class="form-inline">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GSa45t3i1Ng"></iframe>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- main -->
{{ template "footer" . }} {{end}}