{{define "home"}} {{ template "header" . }}
<!-- main -->
<div class="container ">
    <br>
    <br>
    <br>
    <br>
    <div class="main text-center">
        <form class="form-inline">
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="jane.doe@example.com">
                <button type="button" class="btn btn-danger">Request Early Access</button>
            </div>

        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- main -->
{{ template "footer" . }} {{end}}