{{define "show"}} {{ template "header" . }}
<!-- main -->
<div class="container ">
    <div id="main" class="main">
        <modal-wait></modal-wait>
        <alert-box></alert-box>

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_5bc96338dca441418b29507da943626f/podkstr/show/d882280f-6859-4834-b1bc-fbfbd7de6a42/346bf6384f76d98f5472697327b97223.jpg" alt="...">
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <h1> instant T </h1>
            </div>
        </div>
        <div class="row">
            <player :initial-title="'Mon blog is dead'" :initial-src="'http://storage.gra1.cloud.ovh.net/v1/AUTH_5bc96338dca441418b29507da943626f/podkstr/enclosures/ff4cda881f4d9556962f91c056f3dbc2bbe122dbfc50ef7d5ecb552e75321b9d/mon_blog_est_mort_vive_mon_blog.mp3'"></player>
        </div>
        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-play"></span></td>
                        <td>A l'envers</td>
                        <td>30 May</td>
                        <td>11:55</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-play"></span></td>
                        <td>A l'envers</td>
                        <td>30 May</td>
                        <td>11:55</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-play"></span></td>
                        <td>A l'envers</td>
                        <td>30 May</td>
                        <td>11:55</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- main -->
{{ template "footer" .}} {{end}}