{{ define "signin"}} {{ template "header" . }}
<!-- main -->
<div class="container">
    <div id="main" class="main">
        <alert-box></alert-box>
        <div class="col-md-2 "></div>
        <div class="col-md-8 ">
            <h1 v-if="!showSignup "> Sign In</h1>
            <h1 v-if="showSignup "> Sign Up</h1>
            <br>
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
                <input type="email " class="form-control " id="exampleInputEmail1" placeholder="Email">
                <br>
                <input type="password " class="form-control " id="exampleInputPassword1" placeholder="Password ">
                <br>
                <p v-if="!showSignup "> <a href="# " v-on:click="switch2signup">Don't have an account yet ? Sign up</a></p>
                <div v-if="showSignup ">
                    <input type="password " class="form-control " id="reexampleInputPassword1 " placeholder="Repeat Password ">
                </div>
                <br>
                <button type="submit " class="btn btn-primary " v-if="!showSignup" @click="submit">Sign In</button>
                <button type="submit " class="btn btn-primary " v-if="showSignup" @click="submit">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- main -->
{{ template "footer" . }} {{end}} class="alert alert-warning alert-dismissible"