{{ define "signin"}} {{ template "header" . }}
<!-- main -->
<div class="container">
    <div id="main" class="main text-center">
        <alert-box></alert-box>
        <div class="col-md-2 "></div>
        <div class="col-md-8 ">
            <h1 v-if="!showSignup "> Sign In</h1>
            <h1 v-if="showSignup "> Sign Up</h1>
            <br>
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
                <input type="email" class="form-control" id="email" placeholder="Email" v-model="email">
                <br>
                <input type="password " class="form-control" id="passwd" placeholder="Password" v-model="passwd">
                <br>
                <p v-if="!showSignup "> <a href="#" v-on:click="switch2signup">Don't have an account yet ? Sign up</a></p>
                <div v-if="showSignup ">
                    <input type="password " class="form-control " id="passwd2 " placeholder="Repeat Password" v-model="passwd2">
                </div>
                <br>
                <button type="submit " class="btn btn-primary " v-if="!showSignup" @click="submit">Sign In</button>
                <button type="submit " class="btn btn-primary " v-if="showSignup" @click="submit">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- main -->
{{ template "footer" . }} {{end}} class="alert alert-warning alert-dismissible"